body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    background: url('../img/pattern-background-desktop.svg');
    background-color: #e1e9fd;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }